<div class="star-wars-intro">

<!-- Blue Intro Text -->
  <p class="intro-text">
    A long long time ago... In a galaxy... somewhere...
  </p>

  <!-- Logo Image or Text goes in here -->
  <h2 class="main-logo">
    <img src="../styles/resources/star-wars-intro.png">

  </h2>

  <!-- All Scrolling Content Goes in here -->
  <div class="main-content">

    <div class="title-content">
      <p class="content-header">EPISODE WE LOST COUNT<br/>Nobody will even know</p>

      <br>

      <p class="content-body">
        After countless countless movies and books we are now at the stage in time where nobody even knows what is happening in the universe. Our heroes, who we all forgot, are still doing whatever they are doing to stop the Dark side. This... has got nothing to do with that at all! Welcome to a Star Wars page that just wants to give you information on your favorite aspect about the Star Wars Universe!
      </p>

      <p>ENJOY!!!</p>
        
    </div>
  </div>
</div>